# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [1]:
conda  install lxml -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... unsuccessful initial attempt using frozen solve. Retrying with flexible solve.
Solving environment: ...working... unsuccessful attempt using repodata from current_repodata.json, retrying with next repodata source.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... unsuccessful initial attempt using frozen solve. Retrying with flexible solve.
Solving environment: ...working...
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
failed

Note: you may need to restart the kernel to use updated packages.

Building graph of deps:   0%|          | 0/4 [00:00<?, ?it/s]
Examining @/win-64::__archspec==1=x86_64:   0%|          | 0/4 [00:00<?, ?it/s]
Examining python==3.12:  25%|██▌       | 1/4 [00:00<00:00, 999.83it/s]
Examining lxml:  50%|█████     | 2/4 [00:00<00:00, 62.55it/s]
Examining @/win-64::__win==0=0:  75%|███████▌  | 3/4 [00:00<00:00,  5.59it/s]
Examining @/win-64::__win==0=0: 100%|██████████| 4/4 [00:00<00:00,  7.46it/s]


Determining conflicts:   0%|          | 0/4 [00:00<?, ?it/s]
Examining conflict for python lxml:   0%|          | 0/4 [00:00<?, ?it/s]


UnsatisfiableError: The following specifications were found
to be incompatible with the existing python installation in your environment:

Specifications:

  - lxml -> python[version='>=2.7,<2.8.0a0|>=3.10,<3.11.0a0|>=3.11,<3.12.0a0|>=3.8,<3.9.0a0|>=3.9,<3.10.0a0|>=3.7,<3.8.0a0|>=3.6,<3.7.0a0|>=3.5,<3.6.0a0']

Your python: python==3.12

If python is on the left-most side of the chain, that's the version you've asked for.
When python appears to the right, that indicates that the thing on the left is somehow
not available for the python version you are constrained to. Note that conda will not
change your python version to a different minor version unless you explicitly specify
that.

In [2]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

ImportError: Missing optional dependency 'lxml'.  Use pip or conda to install lxml.

In [3]:
pip install lxml

Collecting lxml
  Obtaining dependency information for lxml from https://files.pythonhosted.org/packages/77/e5/1f23e56678244258483521872507d64130cac9466902aca3f3141b8fb06b/lxml-4.9.3-cp312-cp312-win_amd64.whl.metadata
  Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-4.9.3-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB 445.2 kB/s eta 0:00:09
   - -------------------------------------- 0.1/3.8 MB 819.2 kB/s eta 0:00:05
   --- ------------------------------------ 0.3/3.8 MB 1.9 MB/s eta 0:00:02
   ---- ----------------------------------- 0.5/3.8 MB 2.2 MB/s eta 0:00:02
   -------- ------------------------------- 0.8/3.8 MB 3.0 MB/s eta 0:00:01
   ---------- ----------------------------- 1.0/3.8 MB 3.2 MB/s eta 0:00:01
   ------------ --------------------------- 1.2/3.8 MB 3.3 MB/s eta 0:00:01
   -------------- ------------------------- 1.4/3.8 MB 3.4 MB/s eta 0:00:01
   ---------------- ----------------------- 1.6/3.8 MB 3.5 MB/s eta 0:00:01
   ------------------ --------------------- 1.8/3.8 MB 3.5 MB/s eta 0:00:01
   ------------------- -------------------- 1.9/3.8 MB 3.4 MB/s eta 0:00:01
   -------------------- ------------------- 1.9/3.8 MB 3.3 MB/s eta 0:00:01
   --------------------- ------------------ 2.0/3.8 MB 3.2 MB/s eta 0:00:01
   ---------------------- ----------------- 2.1/3.8 MB 3.1 MB/s eta 0:00:01
   ----------------------- ---------------- 2.2/3.8 MB 3.1 MB/s eta 0:00:01
   ------------------------ --------------- 2.3/3.8 MB 3.0 MB/s eta 0:00:01
   ------------------------- -------------- 2.4/3.8 MB 2.9 MB/s eta 0:00:01
   ------------------------- -------------- 2.4/3.8 MB 2.8 MB/s eta 0:00:01
   -------------------------- ------------- 2.5/3.8 MB 2.7 MB/s eta 0:00:01
   --------------------------- ------------ 2.6/3.8 MB 2.7 MB/s eta 0:00:01
   ---------------------------- ----------- 2.7/3.8 MB 2.6 MB/s eta 0:00:01
   ---------------------------- ----------- 2.7/3.8 MB 2.6 MB/s eta 0:00:01
   ----------------------------- ---------- 2.8/3.8 MB 2.6 MB/s eta 0:00:01
   ------------------------------ --------- 2.9/3.8 MB 2.5 MB/s eta 0:00:01
   ------------------------------- -------- 3.0/3.8 MB 2.5 MB/s eta 0:00:01
   -------------------------------- ------- 3.0/3.8 MB 2.5 MB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 2.4 MB/s eta 0:00:01
   --------------------------------- ------ 3.1/3.8 MB 2.3 MB/s eta 0:00:01
   --------------------------------- ------ 3.2/3.8 MB 2.3 MB/s eta 0:00:01
   --------------------------------- ------ 3.2/3.8 MB 2.3 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.8 MB 2.2 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.8 MB 2.2 MB/s eta 0:00:01
   ----------------------------------- ---- 3.3/3.8 MB 2.1 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 2.1 MB/s eta 0:00:01
   ------------------------------------ --- 3.4/3.8 MB 2.0 MB/s eta 0:00:01
   ------------------------------------ --- 3.4/3.8 MB 2.0 MB/s eta 0:00:01
   ------------------------------------ --- 3.5/3.8 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 3.5/3.8 MB 2.0 MB/s eta 0:00:01
   ------------------------------------- -- 3.6/3.8 MB 1.9 MB/s eta 0:00:01
   -------------------------------------- - 3.6/3.8 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------  3.7/3.8 MB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 1.9 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-4.9.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install lxml

Requirement already satisfied: lxml in c:\users\dell\anaconda3\envs\python12\lib\site-packages (4.9.3)
Note: you may need to restart the kernel to use updated packages.

In [5]:
conda install lxml

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... unsuccessful initial attempt using frozen solve. Retrying with flexible solve.
Solving environment: ...working... unsuccessful attempt using repodata from current_repodata.json, retrying with next repodata source.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... unsuccessful initial attempt using frozen solve. Retrying with flexible solve.
Solving environment: ...working...
Found conflicts! Looking for incompatible packages.
This can take several minutes.  Press CTRL-C to abort.
failed

Note: you may need to restart the kernel to use updated packages.

Building graph of deps:   0%|          | 0/4 [00:00<?, ?it/s]
Examining @/win-64::__win==0=0:   0%|          | 0/4 [00:00<?, ?it/s]
Examining python==3.12:  25%|██▌       | 1/4 [00:00<?, ?it/s]
Examining lxml:  50%|█████     | 2/4 [00:00<00:00, 66.73it/s]
Examining @/win-64::__archspec==1=x86_64:  75%|███████▌  | 3/4 [00:00<00:00,  5.61it/s]
Examining @/win-64::__archspec==1=x86_64: 100%|██████████| 4/4 [00:00<00:00,  7.48it/s]


Determining conflicts:   0%|          | 0/4 [00:00<?, ?it/s]
Examining conflict for python lxml:   0%|          | 0/4 [00:00<?, ?it/s]


UnsatisfiableError: The following specifications were found
to be incompatible with the existing python installation in your environment:

Specifications:

  - lxml -> python[version='>=2.7,<2.8.0a0|>=3.10,<3.11.0a0|>=3.11,<3.12.0a0|>=3.8,<3.9.0a0|>=3.9,<3.10.0a0|>=3.7,<3.8.0a0|>=3.6,<3.7.0a0|>=3.5,<3.6.0a0']

Your python: python==3.12

If python is on the left-most side of the chain, that's the version you've asked for.
When python appears to the right, that indicates that the thing on the left is somehow
not available for the python version you are constrained to. Note that conda will not
change your python version to a different minor version unless you explicitly specify
that.

* Python Arithmetic Operators

In [9]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [10]:
a: int = 7
b: int = 2

print(a+b)
print(a-b)
print(a*b)
print(a/b)

9
5
14
3.5

In [11]:
a:int = 11

print(a % 3)

2

In [12]:
print(2**2)
print(2**3)

4
8

In [14]:
a = 13
b = 4

result = a // b

print(result)

3

* Python Assignment Operators

In [15]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [16]:
# = assign 

a: int = 7
b: int = 2

In [19]:
# +=

a: int = 7
print(a)
a = a + 2
print(a)

7
9

In [22]:
# -=

a: int = 7
print(a)
a -=2
print(a)

7
5

In [23]:
# *=

a: int = 7
print(a)
a *=2
print(a)

7
14

In [24]:
# /=

a: int = 7
print(a)
a /=2
print(a)

7
3.5

In [25]:
# %=

a: int = 7
print(a)
a %=2
print(a)

7
1

In [26]:
# //=

a: int = 7
print(a)
a //=2
print(a)

7
3

# Python Comparison Operators

In [27]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [28]:
a:int = 7
b:int = 10

print(a==b)
# a == b
# 7 == 10
# false

False

In [29]:
a:int = 7
b:int = 7

print(a==b)
# a == b
# 7 == 7
# True

True

In [31]:
a:int = 7
b:str = '7'

print(a == b)
# a == b
# 7 == '7'
# false

False

In [36]:
a:int = 7
b:str = '7'

print(a==b)
# a == b
# 7 == '7'
# false

False

In [1]:
# !=

a:int = 7
b:int = 7

print(a!=b)

False

In [2]:
# >

a:int = 7
b:int = 8

print(a>b)

False

In [4]:
# >

a:int = 7
b:int = 7

print(a>b)

False

In [5]:
# >

a:int = 10
b:int = 8

print(a>b)

True

In [8]:
# <

a:int = 10
b:int = 8

print(a < b)

False

In [9]:
# <

a:int = 8
b:int = 8

print(a < b)

False

In [10]:
# <

a:int = 7
b:int = 8

print(a < b)

True

In [11]:
# >=

a:int = 7
b:int = 8

print(a >= b)

False

In [12]:
# >=

a:int = 9
b:int = 8

print(a >= b)

True

In [13]:
# <=

a:int = 9
b:int = 8

print(a <= b)

False

In [14]:
# <=

a:int = 9
b:int = 8

print(a <= b)

False

ASCII Code
'''
A =65 
z= 90

a = 97
z = 122

0 =48
9= 57
'''

In [3]:
ord('A')

65

In [1]:
chr(65)

'A'

# Python Logical Operators

In [6]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [10]:
# and lazmi

      #1        #2       #3       #4
print(True and True and True and True)
print(False and False and False and False)

True
False

In [12]:

# or optional
      #1        #2       #3       #4
print(True or False or True and False)

True

In [14]:
# not 
name: str = "Shahzaib"
print(not name=="Shahzaib")

False

In [16]:
# not 
name: str = "Shahzaib"
print(name != "Shahzaib")

False

In [17]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [19]:
# id function
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

140730249855152
140730249855152

In [24]:
# isnot function
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

140730249855152
140730249855152

False

In [28]:
# is function
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

140730249855152
2775096212816

False

# Python Membership Operators

In [29]:
# !pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [31]:
names: list[str] = [chr(i) for i in range(65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [32]:
names: list[str] = [chr(i) for i in range(65,91)]
"D" in names

True

In [34]:
names: list[str] = [chr(i) for i in range(65,91)]
"Pakistan" in names

False

In [35]:
names: list[str] = [chr(i) for i in range(65,91)]
"D" not in names

False

In [39]:
names: list[str] = ['Sir Zia', 'Sir Qasim', 'Sir Daniyal']
uinput:str = input("Enter your name")

uinput in names

True

In [40]:
names: list[str] = ['Sir Zia', 'Sir Qasim', 'Sir Daniyal']
uinput:str = input("Enter your name")

uinput  not in names

True

# Operator Precedence

In [42]:
table[7]

,Operator,Description,Try it
0,(),Parentheses,Try it »
1,**,Exponentiation,Try it »
2,+x -x ~x,"Unary plus, unary minus, and bitwise NOT",Try it »
3,* / // %,"Multiplication, division, floor division, and ...",Try it »
4,+ -,Addition and subtraction,Try it »
5,<< >>,Bitwise left and right shifts,Try it »
6,&,Bitwise AND,Try it »
7,^,Bitwise XOR,Try it »
8,|,Bitwise OR,Try it »
9,== != > >= < <= is is not in not in,"Comparisons, identity, and membership operators",Try it »
10,not,Logical NOT,Try it »
11,and,AND,Try it »
12,or,OR,Try it »

In [44]:
print(3+2-2*4/2+2)

3.0