# String Data type in python

In [11]:

#String Datatype
name:str = "shahzaib"
print(name)


#Number Datatype
name1:int = 123
print(name1)


#Boolean Datatype
name2: bool = True
name3: bool = False
print(name2)
print(name3)

# listDataType
name4: list[str] = ["a","b","c",]
print(name4)

shahzaib
123
True
False
['a', 'b', 'c']

In [12]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Shahzaib'
print(type(name))
print(name)

<class 'str'>
Muhammad Shahzaib

In [13]:
message : str = 'PIAIC Student Card \n father's Name'
print(message)

SyntaxError: unterminated string literal (detected at line 1) (4212690934.py, line 1)

In [14]:
message : str = "PIAIC Student Card \n father's Name"
print(message)

PIAIC Student Card
 father's Name

In [15]:
message : str = 'PIAIC "Student Card" \n father Name'
print(message)

PIAIC "Student Card"
 father Name

In [16]:
# convert any special character into simple character, place \ before character
message : str = 'PIAIC Student Card \n father\'s Name'
print(message)

PIAIC Student Card
 father's Name

In [17]:
message : str = "PIAIC Student Card \n father's Name"

In [20]:
# Concatination of string

"a" + "b" + "c"

'a7'

In [21]:
# Concatination of string
"a" + "7"

'a7'

In [24]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full stack developer"
age : int = 25

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + age

print(card)

TypeError: can only concatenate str (not "int") to str

In [23]:
"a" + str(7)

'a7'

In [25]:
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full Stack developer"
age : int = 25

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge:" + str(age)

print(card)

PIAIC Student Card
Student Name: Muhammad Shahzaib
Age:25

In [26]:
print(7 + 8 + 2)

17

# "\" line continue

In [27]:
print(7 + \
      8 + \
        2)

17

In [28]:
# boundries
# 'string text', "string text ", '''string text''', """ string"""
# `string text` type script

name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full stack developer"
age : int = 25

card : str = "PIAIC Student Card\nStudent Name: " + name +\
"\nAge:" + str(age)+ "\n"+\
"Education: " + education

print(card)

PIAIC Student Card
Student Name: Muhammad Shahzaib
Age:25
Education: Full stack developer

# Define multiline string """ """, ''' '''

In [29]:
name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full stack developer"
age : int = 25


card : str = """
PIAIC Student Card
Student Name : 
Father's Name: 
Age: ......
Education : .....
"""

print(card)

PIAIC Student Card
Student Name :
Father's Name:
Age: ......
Education : .....

# F-string pthon

In [30]:
name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full stack developer"
age : int = 25


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Shahzaib
Father's Name: Muhammad Pervaiz
Age: 25
Education : Full stack developer

In [31]:
name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full stack developer"
age : int = 25


card : str = f'''
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
'''

print(card)

PIAIC Student Card
Student Name : Muhammad Shahzaib
Father's Name: Muhammad Pervaiz
Age: 25
Education : Full stack developer

In [32]:
name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full stack developer"
age : int = 25


card : str = `
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
`

print(card)

SyntaxError: unterminated string literal (detected at line 10) (405679803.py, line 10)

In [33]:
name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full stack developer"
age : int = 25


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Shahzaib
Father's Name: Muhammad Pervaiz
Age: 25
Education : Full stack developer

Total 22

# F-string and Jinja style

In [34]:
f"""
student name {name}
"""

'\nstudent name Muhammad Shahzaib\n'

In [35]:
# Jinja Style
"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

In [36]:
name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full stack developer"
age : int = 25


card : str = f"""
PIAIC Student Card
Student Name : %s
Father's Name: %s
Age: %d
Education : %s

""" % (name, fname, age, education)

print(card)

PIAIC Student Card
Student Name : Muhammad Shahzaib
Father's Name: Muhammad Pervaiz
Age: 25
Education : Full stack developer

In [37]:
[i for i in dir(str) if "__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [38]:
a = 7
b = 8
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [39]:
'pakistan value a = 7 and value b = 8'

'pakistan value a = 7 and value b = 8'

In [40]:
# {} place holder
#                   0                1          0 1
"pakistan value a = {} and value b = {}".format(a,b)

'pakistan value a = 7 and value b = 8'

In [41]:
name : str = "MUhAMMad ShaHzAiB"

print(name.capitalize())
print(name.lower())

Muhammad shahzaib
muhammad shahzaib

In [42]:
name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full stack developer"
age : int = 25

card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}

Total {2 + 8 + 9 + 3}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Shahzaib
Father's Name: Muhammad Pervaiz
Age: 25
Education : Full stack developer

Total 22

In [44]:
name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full stack developer"
age : int = 25

card : str = """
PIAIC Student Card
Student Name : {}
Father's Name: {}
Age: {}
Education : {}
""".format(fname, name, education, age)

print(card)

PIAIC Student Card
Student Name : Muhammad Pervaiz
Father's Name: Muhammad Shahzaib
Age: Full stack developer
Education : 25

In [45]:
name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full stack developer"
age : int = 25



card : str = """
PIAIC Student Card
Student Name : {1}
Father's Name: {0}
Age: {3}
Education : {2}
""".format(fname, name, education, age)
#           0      1       2        3

print(card)

PIAIC Student Card
Student Name : Muhammad Shahzaib
Father's Name: Muhammad Pervaiz
Age: 25
Education : Full stack developer

In [46]:
name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full stack developer"
age : int = 25



card : str = """
PIAIC Student Card
Student Name : {a}
Father's Name: {b}
Age: {c}
Education : {d}
""".format(a=name, b=fname, c=age, d=education)


print(card)

PIAIC Student Card
Student Name : Muhammad Shahzaib
Father's Name: Muhammad Pervaiz
Age: 25
Education : Full stack developer

# Recommended below two f-string format

In [47]:
name : str = 'Muhammad Shahzaib'
fname : str = "Muhammad Pervaiz"
education : str = "Full stack developer"
age : int = 25


card : str = f"""
PIAIC Student Card
Student Name : {name}
Father's Name: {fname}
Age: {age}
Education : {education}
"""

print(card)

PIAIC Student Card
Student Name : Muhammad Shahzaib
Father's Name: Muhammad Pervaiz
Age: 25
Education : Full stack developer

In [48]:
student_code : str = """
print("My Name is Muhammad Shahzaib")
a:int = 7
b:int = 8
print(a + b)
"""

exec(student_code)

My Name is Muhammad Shahzaib
15

In [50]:
# Explore String methods and attributes
# pre-define global function we have used

print
type
id
dir
len

In [51]:
a: list[str] = [i for i in dir(str) if "__" not in i]
print(a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [52]:
name : str = "MuHammAd Shahzaib"

#variable_name.method()
print(name.capitalize())

Muhammad shahzaib

In [53]:
name : str = "MuHammAd ShAhzaiB"

#variable_name.method()
print(name)
print(name.casefold())

MuHammAd ShAhzaiB
muhammad shahzaib

In [54]:
name : str = "MuHammAd ShAhzaiB"

#variable_name.method()
print(name)
print(name.lower())

MuHammAd ShAhzaiB
muhammad shahzaib

In [55]:
name : str = "      MuHammAd ShahZaib         "

#variable_name.method()
display(name)
display(name.lstrip())

'      MuHammAd ShahZaib         '

'MuHammAd ShahZaib         '

In [56]:
name : str = "      MuHammAd ShahZaib         "

#variable_name.method()
display(name)
display(name.rstrip())

'      MuHammAd ShahZaib         '

'      MuHammAd ShahZaib'

In [57]:
name : str = "      MuHammAd ShahZaib         "

#variable_name.method()
display(name)
display(name.strip())

'      MuHammAd ShahZaib         '

'MuHammAd ShahZaib'

In [58]:
name : str = "      MuHammAd       ShahZaib         "

#variable_name.method()
display(name)
display(name.strip())

'      MuHammAd       ShahZaib         '

'MuHammAd       ShahZaib'

In [59]:
import re

name : str = "      MuHammAd           ShahZaib         "

display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'      MuHammAd           ShahZaib         '

'MuHammAd ShahZaib'

In [60]:
name : str = "MuHammAd ShahZaib"

#variable_name.method()
display(name)
display(name.title())

'MuHammAd ShahZaib'

'Muhammad Shahzaib'

In [61]:
name:str = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [62]:
\n
\t
\b

SyntaxError: unexpected character after line continuation character (2003590270.py, line 1)

In [64]:
print("Name:\t\t Muhammad Shahzaib")

Name:		 Muhammad Shahzaib

In [66]:
print("Name:\nMuhammad Shahzaib")

Name:
Muhammad Shahzaib

In [67]:
nostarch_url:str = 'https://nostarch.com'
nostarch_url.removeprefix('https://')

'nostarch.com'

In [68]:
1name : str = "Shahzaib"
print(1name)

SyntaxError: invalid decimal literal (387137477.py, line 1)

In [69]:
_1name : str = "Shahzaib"
print(_1name)

Shahzaib

In [70]:
piaic student name : str = "Muhammad Shahzaib"
print(piaic student name)

SyntaxError: invalid syntax (2038846831.py, line 1)

In [72]:
piaic_student_name : str = "Muhammad Shahzaib"
print(piaic_student_name)

Muhammad Shahzaib